@mixin table-item {
    display:inline-block;
    padding:5px;
    border:1px solid #ececec;
    text-align:center;
    box-sizing: border-box;
}


.reaction-table-container{
    width:100%;
    max-width:700px;
    margin-top:10px;

    .reaction-table{

        .aver{

            > .item{
                width:100%;
                @include table-item;
            }
        }

        .children{
            margin-top:10px;

            > .item{
                width:25%;
                @include table-item;
            }
        }
    }
}